html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

strong {
  font-weight: bold;
}

#wrapper
{
	margin: 0;
	padding: 0;
}

#container
{
	width: 1024px;
	margin: 0 auto;
	padding: 0;
}

.list-group-item{
            height: 45px;
            font-size: 12px;
            line-height: inherit;
        }

.mask {
	background-color: #000;
	height: 10000px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	display: none;
	z-index: 9998;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#quick-view-pop-up {
	display: none;
	background: #fff;
	border: 1px solid #999;
	z-index: 9998;
	position: absolute;
	top: 15%;
	left: 25%;
	min-height: 400px;
	min-width: 720px;

}

.quick-view-panel {
	  z-index: 9999;
}

.quick-view-close {
	opacity: 1;
	position: absolute;
	right: 6px;
	top: 6px;
	width: 70px;
	cursor: pointer;
	z-index: 10;
	display: block;
	background-repeat: no-repeat;
	height: 24px;
	background-position-x: -78px;
}

.detail {
	  width: 315px;
  float: left;
    margin: 40px 31px 40px 31px;
  
}
.product-details {
	  margin-bottom: 20px;
  float: left;
}
